
.snow {
    position: absolute;
    //min-width: 100vw;
    //min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.snow .svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

#snow-top-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 7.5s infinite linear;
}

#snow-bottom-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 15s infinite linear;
}

@keyframes fall {
    100% {
        transform: translateY(0);
    }
}