
.flowers-top-anim{
    animation: flowers-top-anim 2s;
}

@-webkit-keyframes flowers-top-anim {
    from {margin-top: -30vh;}
    to {top: -10vh;}
}

.flowers-bottom-anim{
    animation: flowers-bottom-anim 2s;
}
@-webkit-keyframes flowers-bottom-anim {
    from {margin-bottom: -30vh;}
    to {bottom: -10vh;}
}

.content-anim{
    -webkit-animation-duration: 2s, 2s;
    -webkit-animation-name: fade-in, zoom-in;
}

.main-names-anim{
    -webkit-animation-duration: 5s;
    -webkit-animation-name: fade-in;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes zoom-in {
    0% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0)

    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0)
    }
}