
html,
body {
    height: 100%;
    background-color: #1F3751;
    font-family: 'Marck Script', cursive;
    font-weight: 400;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}


.match-parent {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.roses-top {
    height: 15vh;
}

.roses-top-con {
    position: absolute;
    right: 0;
    top: 0;
}

.roses-bottom-con {
    position: absolute;
    left: 0;
    bottom: 0;
}

.roses-bottom {
    height: 20vh;
}

.base-text{
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.0;
}
.base-text p{
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.0;
}

.main-names {
    margin-bottom: 1em;
    margin-top: 1em;
}

.main-names p {
    font-size: 1.5rem;
}

.guest-names {
    margin-bottom: 1em;
    margin-top: 1em;
}

.guest-names p {
    font-size: 1.2rem;
}

.info-text{
    font-size: 1.0rem;
}

@media (min-width: 35em) {
    .info-text{
        font-size: 2.0rem;
    }
    .guest-names p{
        font-size: 2.3rem;
    }
    .main-names p {
        font-size: 2.5rem;
    }
}

@media (min-height: 70em) {
    .info-text{
        font-size: 3.0rem;
    }
    .guest-names p{
        font-size: 3.3rem;
    }
    .guest-names {
        margin-bottom: 2em;
        margin-top: 2em;
    }
    .main-names p {
        font-size: 4.5rem;
    }
    .main-names {
        margin-bottom: 2em;
        margin-top: 2em;
    }
}
