
html,
body {
    height: 100%;
    background-color: #1F3751;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}


.match-parent {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.roses-top {
    height: 15vh;
}

.roses-top-con {
    position: absolute;
    right: 0;
    top: 0;
}

.roses-bottom-con {
    position: absolute;
    left: 0;
    bottom: 0;
}

.roses-bottom {
    height: 20vh;
}

.main-names {
    margin-bottom: 1em;
    margin-top: 1em;
}

.main-names p {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1.0;
}


.guest-names {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
}

.info-text{
    font-size: 1.0rem;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
}