
html,
body {
    height: 100%;
    font-family: 'SevaRegular', serif;
    margin: 0;
}

@font-face {
    font-family: SevaTitleWeb;
    font-style: normal;
    font-weight: normal;
    src: local('SevaTitleWeb'), url("../css/seva_title.otf") format("opentype");
}

@font-face {
    font-family: SevaRegular;
    font-style: normal;
    font-weight: normal;
    src: local('SevaRegular'), url("../css/seva_regular.ttf") format("opentype");
}

.main-page {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
    position: relative;
    text-align: center;
    background-image: url("../img/bg_small.png");
    background-size: cover;
    background-position: center;
}

.match-parent {
    width: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content-main {
    margin-left: 1em;
    margin-right: 1em;
    z-index: 20;
}

.error-message {
    font-size: 2em;
    color: #B00020;
    display: none;
    position: absolute;
    font-weight: 600;
}

.flowers-top-con {
    margin-top: -10vh;
    z-index: 2;
}

.flowers-top {
    height: 25vh;
}

.flowers-bottom-con {
    margin-bottom: -10vh;
    z-index: 2;
}

.flowers-bottom {
    height: 25vh;
}


.main-names p {
    font-size: 1.4rem;
    font-weight: 500;
}
.guest-names{
    margin-bottom: 5vh;
}
.guest-names p {
    font-family: 'SevaTitleWeb', serif;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top:0;
}

.text-block {
    margin: 5vh 20px;
}

.text-block p{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1.0rem;
    line-height: 1.0;
}

@media (min-width: 35em) {
    .guest-names p {
        font-size: 5rem;
    }

    .main-names p {
        font-size: 4.5rem;
    }

    .text-block p{
        line-height: 1.3;
        font-size: 1rem;
    }
}

/*IPHONE X SIZE*/
@media (min-height: 50em) {
    .guest-names p {
        font-size: 3.3rem;
    }

    .main-names p {
        font-size: 4.5rem;
    }

    .text-block p{
        line-height: 1.3;
        font-size: 0.9rem;
    }
}

/*GOOGLE PIXEL*/
@media (min-height: 70em) {
    .guest-names p {
        font-size: 7rem;
    }

    .main-names p {
        font-size: 4.5rem;
    }

    .text-block p{
        line-height: 1.3;
        font-size: 2.5rem;
    }
}

.anim-con {
    position: absolute;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.outline {
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    right: 15px;
    z-index: 3;
    border: 2px solid rgba(255, 255, 255, 0.5);
    -webkit-background-clip: padding-box;
}
