/*
.container{
    position: relative;
    height: 100vh;
    background: #1F3751;
}
.roses{
    display: flex;
    justify-content: center;
    width: 500px;
    padding-top: 10%;
}
.label{
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 10%;
}
*/

body {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    background: #1F3751;
    flex-direction: column;
    justify-content: space-between
}

.roses-top {
    display: flex;
    justify-content: flex-end;
}
.roses-top img {
    width: 200px;
}

.roses-bottom {
    display: flex;
    justify-content: flex-start;
}
.roses-bottom img {
    width: 200px;
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    color: white;
}

.label {
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 10%;
}
